use admin;
{% for mongod_host in groups['mongod'] %}
{%  if not hostvars[mongod_host].primary %}
{%    if hostvars[mongod_host].replica_name == replica_name %}
{%      if not hostvars[mongod_host].arbiter %}
rs.add( { host: "{{ hostvars[mongod_host].inventory_hostname }}:{{ hostvars[mongod_host].mongo_port }}", priotity: {{ hostvars[mongod_host].priority }} } );
{%      else %}
rs.addArb("{{ hostvars[mongod_host].inventory_hostname }}:{{ hostvars[mongod_host].mongo_port }}");
{%      endif %}
{%    endif %}
{%  endif %}
sleep(1000);
{% endfor %}